interactions:
- request:
    body: '{"type": "spotMeta"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: "{\"universe\":[{\"tokens\":[1,0],\"name\":\"PURR/USDC\",\"index\":0,\"isCanonical\":true},{\"tokens\":[2,0],\"name\":\"@1\",\"index\":1,\"isCanonical\":false},{\"tokens\":[3,0],\"name\":\"@2\",\"index\":2,\"isCanonical\":false},{\"tokens\":[4,0],\"name\":\"@3\",\"index\":3,\"isCanonical\":false},{\"tokens\":[6,0],\"name\":\"@5\",\"index\":5,\"isCanonical\":false},{\"tokens\":[7,0],\"name\":\"@6\",\"index\":6,\"isCanonical\":false},{\"tokens\":[9,0],\"name\":\"@7\",\"index\":7,\"isCanonical\":false},{\"tokens\":[8,0],\"name\":\"@8\",\"index\":8,\"isCanonical\":false},{\"tokens\"[...]
- request:
    body: '{"type": "perpDexs"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '[null,{"name":"test","fullName":"test dex","deployer":"0x5e89b26d8d66da9888c835c9bfcc2aa51813e152","oracleUpdater":null,"feeRecipient":null,"assetToStreamingOiCap":[],"subDeployers":[],"deployerFeeScale":"1.0","lastDeployerFeeScaleChangeTime":"1970-01-01T00:00:00","assetToFundingMultiplier":[],"assetToFundingInterestRate":[]},{"name":"unit","fullName":"unit
        dex","deployer":"0x888888880c61928866d8fcd1ac8655b7760b9f71","oracleUpdater":null,"feeRecipient":null,"assetToStreamingOiCap":[],"subDeployers":[["setOracle",["0x2d2bce037fc7b1b8a94af488d01ec20bec8117db"]]],"deployerFeeScale":"1.0","lastDeployerFeeScaleChangeTime":"1970-01-01T00:00:00","assetToFundingMultiplier":[],"assetToFundingInterestRate":[]},{"name":"scam","fullName":"Scam
        DEX","deployer":"0xcc16ae2ffc076d7bcd5ec3fb1e9aa5c2984133a1","orac[...]
- request:
    body: '{"type": "meta", "dex": ""}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '{"universe":[{"szDecimals":2,"name":"SOL","maxLeverage":10,"marginTableId":10},{"szDecimals":2,"name":"APT","maxLeverage":3,"marginTableId":3},{"szDecimals":2,"name":"ATOM","maxLeverage":10,"marginTableId":55},{"szDecimals":5,"name":"BTC","maxLeverage":40,"marginTableId":54},{"szDecimals":4,"name":"ETH","maxLeverage":25,"marginTableId":53},{"szDecimals":1,"name":"MATIC","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":3,"name":"BNB","maxLeverage":10,"marginTableId":10},{"szDecimals":2,"name":"AVAX","maxLeverage":10,"marginTableId":55},{"szDecimals":0,"name":"GMT","maxLeverage":2,"marginTableId":2},{"szDecimals":1,"name":"DYDX","maxLeverage":20,"marginTableId":20},{"szDecimals":1,"name":"APE","maxLeverage":5,"marginTableId":5},{"szDecimals":1,"name":"OP","maxLeverage":50,"marginTableId":50},{"szDecimals":0,"name":"kPEPE","maxLeverage":10,"marginTableId":10},{"szDecimals":1,"name":"ARB","maxLeverage":10,"marginTableId":55},{"szDecimals":0,"name":"RLB","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":1,"name":"WLD","maxLeverage":10,"marginTableId":10},{"szDecimals":0,"name":"HPOS","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":2,"name":"UNIBOT","maxLeverage":2,"marginTableId":2,"onlyIsolated":true,"isDelisted":true,"marginMode":"strictIsolated"},{"szDecimals":2,"name":"COMP","maxLeverage":5,"marginTableId":5},{"szDecimals":1,"name":"FXS","maxLeverage":3,"marginTableId":3,"isDelisted":true},{"szDecimals":4,"name":"MKR","maxLeverage":10,"marginTableId":55,"isDelisted":true},{"szDecimals":2,"name":"AAVE","maxLeverage":10,"marginTableId":52},{"szDecimals":1,"name":"SNX","maxLeverage":10,"marginTableId":10},{"szDecimals":1,"name":"RNDR","maxLeverage":20,"marginTableId":20,"isDelisted":true},{"szDecimals":1,"name":"LDO","max[...]
- request:
    body: '{"type": "userFills", "user": "0x0d3Bc6B8BA597c1AC2a0E8a2d2C969372f1B4e88"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '[{"coin":"BTC","px":"76657.0","sz":"0.00015","side":"A","time":1776823871939,"startPosition":"0.00015","dir":"Close
        Long","closedPnl":"0.0462","hash":"0xa0c8a4533220e755a2420420c54133010b00bc38cd24062744914fa5f124c140","oid":51855756409,"crossed":true,"fee":"0.005174","tid":238776262076061,"feeToken":"USDC","twapId":null},{"coin":"BTC","px":"76349.0","sz":"0.00015","side":"B","time":1776818111720,"startPosition":"0.0","dir":"Open
        Long","closedPnl":"0.0","hash":"0xc64d6d79a9f15cd3c7c70420c47c28010700855f44f47ba56a1618cc68f536be","oid":51852596526,"crossed":false,"fee":"0.001717","tid":613479944178652,"feeToken":"USDC","twapId":null},{"coin":"BTC","px":"76171.0","sz":"0.00015","side":"A","time":1776815039129,"startPosition":"0.00015","dir":"Close
        Long","closedPnl":"0.0315","hash":"0x522e7f68aa[...]
[...]
