interactions:
- request:
    body: '{"type": "meta", "dex": ""}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '{"universe":[{"szDecimals":2,"name":"SOL","maxLeverage":10,"marginTableId":10},{"szDecimals":2,"name":"APT","maxLeverage":3,"marginTableId":3},{"szDecimals":2,"name":"ATOM","maxLeverage":10,"marginTableId":55},{"szDecimals":5,"name":"BTC","maxLeverage":40,"marginTableId":54},{"szDecimals":4,"name":"ETH","maxLeverage":25,"marginTableId":53},{"szDecimals":1,"name":"MATIC","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":3,"name":"BNB","maxLeverage":10,"marginTableId":10},{"szDecimals":2,"name":"AVAX","maxLeverage":10,"marginTableId":55},{"szDecimals":0,"name":"GMT","maxLeverage":2,"marginTableId":2},{"szDecimals":1,"name":"DYDX","maxLeverage":20,"marginTableId":20},{"szDecimals":1,"name":"APE","maxLeverage":5,"marginTableId":5},{"szDecimals":1,"name":"OP","maxLeverage":50,"marginTableId":50},{"szDecimals":0,"name":"kPEPE","maxLeverage":10,"marginTableId":10},{"szDecimals":1,"name":"ARB","maxLeverage":10,"marginTableId":55},{"szDecimals":0,"name":"RLB","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":1,"name":"WLD","maxLeverage":10,"marginTableId":10},{"szDecimals":0,"name":"HPOS","maxLeverage":50,"marginTableId":50,"isDelisted":true},{"szDecimals":2,"name":"UNIBOT","maxLeverage":2,"marginTableId":2,"onlyIsolated":true,"isDelisted":true,"marginMode":"strictIsolated"},{"szDecimals":2,"name":"COMP","maxLeverage":5,"marginTableId":5},{"szDecimals":1,"name":"FXS","maxLeverage":3,"marginTableId":3,"isDelisted":true},{"szDecimals":4,"name":"MKR","maxLeverage":10,"marginTableId":55,"isDelisted":true},{"szDecimals":2,"name":"AAVE","maxLeverage":10,"marginTableId":52},{"szDecimals":1,"name":"SNX","maxLeverage":10,"marginTableId":10},{"szDecimals":1,"name":"RNDR","maxLeverage":20,"marginTableId":20,"isDelisted":true},{"szDecimals":1,"name":"LDO","max[...]
- request:
    body: '{"type": "userFills", "user": "0x0d3Bc6B8BA597c1AC2a0E8a2d2C969372f1B4e88"}'
    headers:
      Content-Type:
      - application/json
    method: POST
    uri: https://api.hyperliquid-testnet.xyz/info
  response:
    body:
      string: '[{"coin":"BTC","px":"76657.0","sz":"0.00015","side":"A","time":1776823871939,"startPosition":"0.00015","dir":"Close
        Long","closedPnl":"0.0462","hash":"0xa0c8a4533220e755a2420420c54133010b00bc38cd24062744914fa5f124c140","oid":51855756409,"crossed":true,"fee":"0.005174","tid":238776262076061,"feeToken":"USDC","twapId":null},{"coin":"BTC","px":"76349.0","sz":"0.00015","side":"B","time":1776818111720,"startPosition":"0.0","dir":"Open
        Long","closedPnl":"0.0","hash":"0xc64d6d79a9f15cd3c7c70420c47c28010700855f44f47ba56a1618cc68f536be","oid":51852596526,"crossed":false,"fee":"0.001717","tid":613479944178652,"feeToken":"USDC","twapId":null},{"coin":"BTC","px":"76171.0","sz":"0.00015","side":"A","time":1776815039129,"startPosition":"0.00015","dir":"Close
        Long","closedPnl":"0.0315","hash":"0x522e7f68aa[...]
[...]
